# Create a new .env file based on .env.dev
# >>>   cp .env.dev .env

PORT=3000

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=novel_db
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?schema=public&sslmode=prefer

# Authenticate
JWT_SECRET=example
SALT_BCRYPT=1

# Payment
STRIPE_API_KEY=

# AI
OPENAI_API_KEY=